<footer>
  <div class="footer-menus">
    <a href="/top">ERPterminalについて</a>
    <a href="/about">運営会社</a>
    <a href="/terms">利用規約</a>
    <a href="/systems/index">プライバシーポリシー</a>
    <a href="/systems/index">お問い合わせ</a>
  </div>
  <div class="copy-right">
    <figure>
      <%= image_tag('Seedlive.jpg') %>
      <figcaption>Copyright Seedlive Inc. All rights reserved.</figcaption>
    </figure>

  </div>
</footer>
