<header>
  <div class="header-logo">
    <a href="/top"><%= image_tag('Logo.jpg') %></a>
    <a href="/top">terminal</a>
  </div>
  <div class="header-menus">
    <a href="/about">ERPterminalとは？</a>
    <% if @current_user %>
      <a href="/reviews/new">口コミ投稿</a>
      <a href="/users/index">User一覧</a>
      <%= link_to("【#{@current_user.nickname}】ログアウト", "/logout", {method: :post}) %>
    <% else %>
      <a class="fw-b" href="/login">ログイン</a>
      <a class="fw-b" href="/users/new">新規登録</a>
    <% end %>
  </div>
</header>
