<header>
  <div class="header-logo">
    <a href="/top">terminal</a>
  </div>
  <div class="header-menus">
    <li>
      <a href="/top">Top</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/vendors/index">ベンダー一覧</a>
    </li>
    <li>
      <a href="/systems/index">システム一覧</a>
    </li>
  </div>
</header>
