<h1>マンション選びに助け合いの輪を</h1>

<p>
住んでみて初めてわかることが、住む前に少しでもわかっていたら・・・
<br><br>
マンションノートは、そんな想いをかたちにした口コミサイトです。
<br><br>
” 住民にファミリー層が多く、子供達の元気な挨拶が気持ちいい ”
<br><br>
” 近所の飲食店が明け方までうるさく、酔っ払いが多くてこわい ”
<br><br>
” 入居前は音漏れを心配していたが、実際は全く気にならない ”
<br><br>
そんなささやかな口コミが、これからマンションを選ぶ人には
<br><br>
とても役に立つ素敵な情報に変わります。
<br><br>
あなたの小さな“ 生の声 ”が、誰かの背中を押す大きな力になる。
<br><br>
マンションノートにぜひ、あなたの声を。
</p>

<a href="/top">topに戻る</a>
