<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="currentPath">
      <a href="/top">HOME</a> >
      <a href="/about">About</a>
    </div>
    <div class="container">
      <div class="searchIMG"><%= image_tag('favicon.ico') %></div>
      <h1>ERPterminalについて</h1>
      <div class="about">
        <h3>システム導入をしてみて初めてわかることが、検討時に少しでもわかっていたら・・・</h3>
        <h3>ERPterminalは、そんな想いをかたちにした口コミ特化型の比較サイトです。</h3>
        <h3 class="voice">「ノウハウを持ったSEが一緒に立ち上げまで支援してくれ、早期安定稼働できた」</h3>
        <h3 class="voice">「サポートが電話口での対応となるため、運用面での質問に対する回答は遅い」</h3>
        <h3 class="voice">「システムに業務を合わせる方針で導入したが、意外とすんなり実現できた」</h3>
        <h3>そんなささやかな口コミが、これからERP導入を検討されている人には</h3>
        <h3>とても役に立つ素敵な情報に変わります。</h3>
        <h3>あなたの小さな“ 生の声 ”が、誰かの背中を押す大きな力になる。</h3>
        <h3>ERPterminalにぜひ、あなたの声を。</h3>
      </div>
    </div>
  </div>
</main>
<%= render 'home/footer' %>
