<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="currentPath">
      <a href="/top">HOME</a> >
      <a href="/privacy">プライバシーポリシー</a>
    </div>
    <div class="container">
      <div class="searchIMG"><%= image_tag('カテゴリ.jpg') %></div>
        <h1>プライバシーポリシー</h1>
        <div class="terms">
          <p>
            このプライバシーポリシーは、ERPterminal運営事務局（以下「当社」といいます）の提供するサービスであるERPterminalに関する全てのサービス（以下「本サービス」といいます）において取得する、本サービスを利用するお客様（以下「利用者」といいます）の個人情報の取り扱いについて定めるものです。
          </p>
          <dl>
            <dt>1.個人情報の利用目的について</dt>
            <dd>
              <p>本サービスにおいてお預かりする利用者の個人情報の利用目的は本サービスに関する以下の事項となります。</p>
              <ol>
                <li>利用者のお問い合わせに対する回答、相談のため</li>
                <li>利用者の本サービス利用状況の確認、利用者へのご連絡、お知らせのため</li>
                <li>本サービスにおける利用者の個人認証のため</li>
                <li>アンケート、キャンペーン、その他情報提供のため</li>
                <li>統計・分析データを作成するため</li>
                <li>利用者のERP選定および構築支援のためのご連絡</li>
                <li>利用者の登録内容の確認</li>
              </ol>
            </dd>
          </dl>
          <dl>
            <dt>2.個人情報の第三者提供に関する同意について</dt>
            <dd>
              <p>当社は、本サービスを通じて利用者より取得した個人情報を第三者に提供する場合（個人情報保護法第23条に定める第三者提供にあたる場合）には、以下の各号の場合を除き、事前にご本人に同意を得ることとします。</p>
              <ol>
                <li>法令に基づく場合</li>
                <li>人の生命、身体又は財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難であるとき。</li>
                <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難であるとき。</li>
                <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。</li>
              </ol>
              <p>なお、本サービスでは、サービスの性質上、利用者の情報をERP検討中の企業等の第三者に提供することが予定されております。本サービスの利用規約に利用者が利用者の個人情報を第三者に提供することに同意する旨の記載がございますので、本サービスの定める利用規約の内容を十分ご確認の上、会員登録をしていただくようお願いします。会員登録された場合には、本サービスの利用規約にご同意いただいたものとされ、第三者への提供にご同意いただいたこととなります。</p>
            </dd>
          </dl>
          <dl>
            <dt>3.安全管理について</dt>
            <dd>
              <p>個人情報の不当なアクセスまたは個人情報の紛失・破壊・改竄・漏洩などの危険に対して、技術面および組織面において必要な安全対策を継続的に講じるよう努めます。当社は個人情報を管理するサーバを信頼性・堅牢性・セキュリティレベルを満たしたデータセンターへ委託し管理しております。</p>
            </dd>
          </dl>
          <dl>
            <dt>4.管理者について</dt>
            <dd>
              <p>個人情報を取り扱う個人情報保護管理責任者を定め、適切な個人情報の保護に努めます。</p>
            </dd>
          </dl>
          <dl>
            <dt>5.本規約の変更について</dt>
            <dd>
              <p>当社は必要に応じて「プライバシーポリシー」の内容を変更できるものとします。当社は変更後の内容を本サービス内において掲載するものとし、掲載された時点で変更語の内容が有効となるものとします。</p>
            </dd>
          </dl>
          <dl>
            <dt>6.個人情報に関する問合せ先について</dt>
            <dd>
              <ol>
                <li>個人情報取扱事業者：ERPterminal運営事務局</li>
                <li>お問合せメールアドレス：sekiya4019@gmail.com</li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render 'home/footer' %>
