<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="container">
      <div class="searchIMG"><%= image_tag('カテゴリ.jpg') %></div>
        <h1>ERPterminal利用規約</h1>
        <div class="terms">
          <p>
            株式会社レンガ（以下「当社」といいます）は、当社が運営・管理・提供するサービスである「マンションノート」（https://www.mansion-note.com）の利用に関して、以下のとおり利用規約を定めます（以下「本利用規約」といいます）。マンションノートの利用者（以下「利用者」といいます）は、予め本利用規約に同意した上で、マンションノートを利用するものとします。
          </p>
          <dl>
            <dt>1.本利用規約について</dt>
            <dd>
              <ol>
                <li>テスト</li>
                <li>テスト</li>
                <li>テスト</li>
                <li>テスト</li>
              </ol>
            </dd>
            <dt>2.ERPterminalの利用に関する自己責任の原則について</dt>
            <dd>
              <ol>
                <li>テスト</li>
                <li>テスト</li>
                <li>テスト</li>
                <li>テスト</li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render 'home/footer' %>
