<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="currentPath">
      <a href="/top">HOME</a> >
      <a href="/terms">利用規約</a>
    </div>
    <div class="container">
      <div class="searchIMG"><%= image_tag('カテゴリ.jpg') %></div>
        <h1>ERPterminal利用規約</h1>
        <div class="terms">
          <p>
            この規約（以下「本規約」といいます）は、ERPterminal運営事務局（以下「当社」といいます）が提供するERPterminalに関する全てのサービス（以下「本サービス」といいます）の利用に関する条件を、本サービスを利用するお客様（以下「利用者」といいます）と当社との間で定めるものです。
          </p>
          <dl>
            <dt>1.本規約について</dt>
            <dd>
              <ol>
                <li>ERPterminalは、（１）ERPに関する口コミ・Q＆A・点数・その他関連情報、（２）ベンダーに関する口コミ・Q＆A・点数・その他関連情報、（３）利用者の登録情報・履歴情報（以下（１）～（３）を総称して「投稿登録情報」といいます）をコンテンツとするサイトであり、ERPterminal利用者が投稿登録情報をERPの選定または構築する際の参考としてご活用いただくことを主な目的としています。尚、ERPterminalは情報提供の対象として、ERP製品だけでなく、ERP構築ベンダーも含むものとします。</li>
                <li>本規約は、ERPterminalおよびその関連サービスの利用条件を定めるものです。</li>
                <li>本規約に同意いただけない場合は、ERPterminalを使用することはできません。ERPterminalを利用した者は、利用した時点で、本規約に同意したものとみなされます。</li>
                <li>本規約の内容は、利用者の事前の承諾を得ることなく、当社がいつでも自由に変更することができるものとします。</li>
                <li>変更後の本規約はERPterminal上に表示した時点、または当社が適切と認める方法で告知した時点より効力が発生するものとし、本規約の変更後に利用者がERPterminalを利用した場合には、変更後の本規約に同意したものとみなされます。</li>
                <li>本規約の全部または一部が特定の利用者との間で無効と判断された場合でも、本規約はその他の利用者との間では有効であり続けるものとします。</li>
                <li>ERPterminal内の個別サービスに関連して、本規約以外の利用規約、注意事項その他当社が別途規定する個別の規定（以下総称して「個別規定」といいます）がある場合、その名目の如何にかかわらず、個別規約も本規約の一部を構成するものとします。本規約において「本規約」と記載している場合、特別の規定がなければ、個別規定も含むものとします。本規約の規定の内容と個別規定の内容が抵触する場合は、個別規定の内容が優先して適用されるものとします。</li>
              </ol>
            </dd>
            <dt>2.ERPterminalの利用に関する自己責任の原則について</dt>
            <dd>
              <ol>
                <li>ERPterminalにおいて算出されている各ERPおよびベンダーの点数は、あくまでも当社独自の基準に基づく評価にすぎないため、利用者は、利用者自身の自己責任においてERPterminalを利用するものとし、ERPterminalを利用してなされた一切の行為およびその結果についてその責任を負うものとします。</li>
                <li>利用者は、ERPterminalの利用に際し、他の利用者その他の第三者または当社に損害または不利益を与えた場合、自己の責任と費用においてこれを解決するものとします。</li>
              </ol>
            </dd>
            <dt>3.ユーザー登録およびメールアドレス・パスワード等の管理について</dt>
            <dd>
              <ol>
                <li>ERPterminalは、ユーザー登録無しでも一部利用できますが、利用者は当社所定の手続きに従いERPterminalにユーザー登録することができます。本規約において「登録済みユーザー」とは、ERPterminalを利用する全ての「利用者」のうち、かかる手続きに従いユーザー登録を行った者を意味します。</li>
                <li>登録済みユーザーは、ERPterminalへの投稿登録情報の投稿のほか、当社が別途定めるサービスを利用することができます。</li>
                <li>登録済みユーザーは、投稿登録情報を投稿する際、当社が定めたERPterminalの目的と社会的意義を理解し、真実・正確且つERPの選定または構築を検討している者にとって有益な情報を投稿することを約束するものとします。</li>
                <li>当社は、当社の判断により、下記に該当するユーザー登録申込者のユーザー登録を、その理由を申込者に伝えることなく拒否することができるものとします。また、ユーザー登録後であったとしても、下記の場合には当社の判断によりその理由を登録済みユーザーに伝えることなくユーザー登録を解除することができるものとします。
                  <ul>
                    <li>本規約に違反している場合</li>
                    <li>過去に本規約に違反していた場合</li>
                    <li>虚偽の情報によりユーザー登録をした場合</li>
                    <li>その他当社が不適当と判断した場合</li>
                  </ul>
                </li>
                <li>登録済みユーザーは、ERPterminalに関して、登録に基づきサービスを利用することができる権利を第三者に譲渡したり、名義変更、売買等の行為をしてはならないものとします。</li>
                <li>登録済みユーザーは、ERPterminalに関連して入力したメールアドレスおよびパスワードの登録・管理等を自己の責任において行うものとします。</li>
                <li>ユーザー登録情報が不正確または虚偽であった場合や利用者の管理不十分、使用上の過誤、第三者の使用等により生じた不利益および損害について、当社は一切の責任を負わないものとします。</li>
              </ol>
            </dd>
            <dt>4.投稿登録情報に関する義務・権利について</dt>
            <dd>
              <ol>
                <li>利用者が投稿登録情報を投稿する場合には、本規約を遵守しなければならないものとします。</li>
                <li>利用者がERPterminalに投稿登録情報の投稿を行った時点で、当該投稿登録情報の国内外における複製、公開、公衆送信、頒布、譲渡、貸与、翻訳・翻案等の著作権法上の権利（著作権法第27条及び第28条に規定する権利を含みます。以下「本権利」といいます）について、当社および当社の指定する者に対し、期限の定めなく無償でその利用を許諾したものとみなします。また、利用者は、当社および当社の指定する者に対して、当該投稿登録情報に関わる著作者人格権を行使しないものとします。</li>
                <li>当社は、本権利について、当社の判断により、有償または無償でその利用を第三者に再許諾することができます。この場合、利用者は、当該第三者に対して、投稿登録情報に関わる著作者人格権を行使しないものとします。</li>
                <li>利用者は、当社に対し、ERPterminalに投稿した時点において、投稿登録情報に関する本権利を全て有していることおよび当該投稿登録情報が他者の肖像権等いかなる権利も侵害していないことを保証するものとします。</li>
                <li>利用者が第三者の著作物等を利用して投稿を行う場合には、利用者は、利用者の責任と負担において、必要な権利処理を行うものとし、当社に対して、当該権利処理が完了していることを保証するものとします。</li>
                <li>利用者が投稿した投稿登録情報によって第三者に対する権利侵害が生じた場合等、利用者によるERPterminalの利用に関して、利用者と第三者との間で紛争等が生じた場合には、利用者の責任と費用においてこれを解決するものとします。</li>
                <li>前号の紛争に関連して、当社に費用が発生した場合または当社が賠償金等の支払いを行った場合は、利用者は、当社に対して、当該費用（弁護士等の専門家の費用を含む）および賠償金を補償するものとし、当社は、当該利用者にこれらの合計額の支払いを請求できるものとします。</li>
                <li>当社または第三者が利用者の投稿登録情報を利用したことによって利用者または第三者が損害を受けたとしても、当社では一切の補償をいたしません。</li>
                <li>当社は、投稿された投稿登録情報の全部又は一部を当社の判断で削除できるものとします（投稿登録情報の一部を削除した場合、当該一部以外の部分はそのまま掲載されます）。また投稿登録情報の一部を抜粋し利用することができるものとします。</li>
                <li>ERPterminalや提携サイトへのコンテンツ提供などにおいて、利用者の投稿登録情報を当社もしくは当社から使用許諾を受けた第三者が利用する場合があります。この際、当社は投稿登録情報の一部を要約したり、抜粋したり、投稿された画像のサイズを変更したり、切り抜いたりなど、一部改変等する場合がございます。また、投稿登録情報を利用する場合には、利用者が投稿した際のニックネームやアイコン、性別、年代、投稿日時等を表示させていただく場合がございます。</li>
                <li>ERPterminalに掲載されている投稿登録情報はWEBサイト上での利用者による投稿だけでなく、ヒアリング等異なる方法で収集されることもあります。</li>
                <li>利用者は、利用者が投稿した投稿登録情報に対して、当社に保存責任・義務がないことを理解し、必要に応じて利用者は自身でバックアップを取るものとします。投稿登録情報の消去、喪失等に関連して利用者に生じた損害につき、当社は一切の責任を負いません。</li>
                <li>投稿登録情報は、投稿した利用者本人からの依頼であっても、当社が必要と認める場合を除き、削除いたしません。</li>
                <li>利用者は、利用者が投稿登録情報を投稿する際の利用者の一連のアクション（投稿の際のキータイピング及びその他入力動作）に関する各種情報を、当社がERPterminalの品質向上を目的として取得・保存・分析・審査への活用等をすることを認めるものとします。</li>
              </ol>
            </dd>
            <dt>5.当社の算出した点数について</dt>
            <dd>
              <ol>
                <li>当社は、利用者が投稿したERPおよびベンダーの各項目に対する点数と、当社内独自の計算方法によって算出した点数を掛け合わせることで当該ERPおよびベンダーに対する点数を算出していますが、これらの点数は、あくまでも当社独自の基準に基づく評価にすぎず、公的機関による評価等ないし法令等に基づく評価等を表示するものではありません。また、その算出方法およびデータ等に関しては、（お問い合わせの内容・理由に関わらず）非開示としております。</li>
              </ol>
            </dd>
            <dt>6.ポイントについて</dt>
            <dd>
              <ol>
                <li>利用者が投稿登録情報の投稿によって獲得したポイントは、ERPterminal内で、かつ、当社が指定したルールに則ってのみ、利用できるものとします。利用者は、当該ポイントを換金、売買等しないこととします。</li>
                <li>利用者が獲得したポイントは、当社の判断によって、その利用および運用ルール等をいつでも自由に、利用者の許諾を必要とせずに変更できるものとします。</li>
              </ol>
            </dd>
            <dt>7.利用者に対する利用停止措置について</dt>
            <dd>
              <ol>
                <li>利用者が本規約に反する行為もしくは反するおそれがある行為またはERPterminalの趣旨・目的に照らして不適切であると当社が判断する行為がなされた場合、当社は、当該利用者に対して、ERPterminalの利用の停止、ユーザー登録の解除、その他当社が適切と判断する措置（以下「利用停止措置等」といいます）をとることができるものとします。</li>
                <li>利用停止措置等は、利用者の帰責性の有無にかかわらず当社の裁量・判断に基づき行うことができるものとし、利用停止措置等を行った理由については､その如何を問わず利用者に対して一切お答えいたしかねます｡</li>
                <li>利用停止措置等に起因して利用者に生じた損害については､当社は一切の責任を負わないものとします｡</li>
              </ol>
            </dd>
            <dt>8.利用者のユーザー登録解除の手続きについて</dt>
            <dd>
              <ol>
                <li>登録済みユーザーがユーザー登録の解除を希望する場合は、当社所定の登録解除の手続きを行うものとします。</li>
                <li>登録済みユーザーは、ユーザー登録解除の手続きを行った場合、当該登録済みユーザーのアカウントに関する一切の権利、特典、ポイント等を失うものとします。</li>
                <li>登録済みユーザーは、ユーザー登録解除の手続きをしたとしても、当該登録済みユーザーの投稿した投稿登録情報が当社の判断により削除されないことおよび当該登録済みユーザーのユーザー登録解除後も当社が利用することを予め承諾するものとします。掲載されている投稿登録情報の削除、修正等の判断は、当社が行うものとします。</li>
                <li>登録済みユーザーがユーザー登録解除の手続きを完了した場合でも、各種権利に関する項目をはじめ、当社と利用者との間での本規約の効力は存続するものとします。また、利用者が当社に対して負う補償責任等も存続するものとし、ユーザー登録解除の手続きが完了した時点で当然に期限の利益を失い、直ちに当社に対して全ての債務につき履行しなければならないものとします。</li>
              </ol>
            </dd>
            <dt>9.ERPterminalの変更・停止について</dt>
            <dd>
              <ol>
                <li>当社は、当社の都合によりERPterminalにより提供するサービスを変更・停止等することがございます。また、災害・事故、その他緊急事態が発生した際には、ERPterminalを停止する場合がありますので、予めご了承ください。なお、事前に利用者の承諾を得ることなくERPterminalを変更・停止等したことにより、利用者または第三者が損害を受けたとしても、当社は一切の補償はいたしません。</li>
              </ol>
            </dd>
            <dt>10.ERPterminalの利用に必要となる設備について</dt>
            <dd>
              <ol>
                <li>利用者は、ERPterminalを利用するために必要となる通信機器、ソフトウェアその他これらに付随して必要となる全ての機器を、自己の費用と責任において準備し、利用可能な状態にするものとします。当社は、利用者がwebにアクセスするための準備、方法などについては一切関与いたしません。</li>
              </ol>
            </dd>
            <dt>11.個人情報の取扱い</dt>
            <dd>
              <ol>
                <li>当社は、当社が別途定める<a href="/privacy">プライバシーポリシー</a>に則り、個人情報を適正に取り扱うこととし、利用者は、ERPterminalのサービスの利用によってかかる個人情報の取扱いにつき同意したものとします。</li>
                <li>当社は、前項の定めにかかわらず、ERPterminalのサービスを利用者に提供するのに必要な範囲において、利用者の個人情報を第三者（ERP関連情報を提供する提携メディア、ERP関連情報を掲載しているベンダー等）に対して提供することがあり、利用者は、当該サービスの利用によってかかる個人情報の取扱いにつき同意したものとします。。なお、当該個人情報は匿名化した上で提供するものとし、当該第三者において特定の個人を識別できないようにします。</li>
                <li>利用者は、本サービスの利用によって、情報提供先から、ERPの案内その他の案内、 連絡、通知等が利用者に対して行なわれることがあることに同意したものとします。</li>
                <li>利用者は、本サービスの利用によって、当社が利用者に対して送付するメールその他の通知に、当社及び第三者の広告、案内等を掲載することにつき同意したものとします。</li>
                <li>当社は、利用者と情報提供先との連絡、交渉、契約その他一切の関係につき一切の責任を負わないものとし、利用者は、本サービスの利用により、これに同意したものとします。</li>
                <li>当社は、本サービスを円滑に運用するために、利用者の個人情報を本サービス利用の控えとして一定期間保管いたします。利用者は、問い合わせや資料請求等においてフォーム等への記入内容が不明瞭で連絡・資料送付等ができない場合、その他当社が本サービスを円滑に運用するために必要な範囲において、直接当社から利用者へ連絡をする場合があることに同意したものとします。</li>
                <li>当社は、以下の場合に個人情報の取扱いについて発生する責任を負わないものとします。
                  <ul>
                    <li>利用者が、当社所定の個人情報入力フォーム以外の入力フォームに個人情報を入力した場合</li>
                    <li>利用者が、本サービスの範囲外で特定の企業に個人情報を開示した場合</li>
                    <li>本人特定情報以外の投稿登録情報の内容により、期せずして本人が特定できてしまった場合</li>
                  </ul>
                </li>
              </ol>
            </dd>
            <dt>12.免責事項</dt>
            <dd>
              <ol>
                <li>当社は、ERPterminalの利用により発生した利用者の損害については、一切の賠償責任を負いません。</li>
                <li>当社は、利用者同士のトラブル等について、一切の補償および関与をいたしません。</li>
                <li>当社は、ERPterminalに投稿・編集され、掲載された投稿登録情報については、その完全性、正確性、適用性、有用性、安全性、利用可能性等について、いかなる保証もいたしません。また、利用者が投稿登録情報を投稿するプロセスにおいて、当社が当該投稿登録情報を承認するプロセスが存在することがありますが、当社が承認したことが当該投稿登録情報の完全性、正確性、適用性、有用性、安全性、利用可能性等を当社が保証するものではありません。</li>
                <li>当社は、不具合、エラー、障害等を原因とするERPterminalの利用の停止等によって引き起こされた損害について、一切の賠償責任を負いません。</li>
                <li>当社は、何らかの理由により投稿登録情報のデータが破損等した場合でも、責任を負いません。</li>
                <li>ERPterminalは、様々な立場の利用者による善意・協力のもとで成り立っており、その投稿された投稿登録情報の真偽に対して当社は責任を負いません。</li>
                <li>当社は、利用者に対してアドバイスや情報提供を行うことがありますが、利用者がそのアドバイスや情報提供を受けた結果については責任を負わないものとします。</li>
                <li>当社は、ERPterminalからリンクされた第三者が運営するサイトに関して、いかなる保証もいたしません。また、リンク先で生じた損害や、利用者同士のトラブル等に対し、当社は一切の補償および関与をいたしません。</li>
                <li>当社は、下記に該当するまたは該当するおそれがある投稿登録情報を、利用者への予告無く、ERPterminal上から削除する場合があります。なお、削除対象に該当するか否かは、全て当社が判断するものとします。
                  <ul>
                    <li>公序良俗に反するもの</li>
                    <li>ERPterminalの趣旨に反するもの</li>
                    <li>ERPに全く関係が無いもの</li>
                    <li>第三者（当社を含む）への誹謗中傷、不適切な言葉づかいであるもの</li>
                    <li>営利を目的としたものや個人的な売買・譲渡・出会いを持ちかける内容、宣伝行為に関するもの</li>
                    <li>有害なプログラム・スクリプト等を含むもの</li>
                    <li>宗教等の勧誘に関するもの</li>
                    <li>その他、当社が不適切と判断したもの</li>
                  </ul>
                </li>
              </ol>
            </dd>
            <dt>13.問い合わせ</dt>
            <dd>
              <ol>
                <li>ERPterminalに関するすべてのお問い合わせは、ヘルプ・お問い合わせからのみ行っていただくものとし、電話・訪問・その他の手段によるお問い合わせの受付および回答は行わないものとします。</li>
              </ol>
            </dd>
            <dt>14.禁止行為</dt>
            <dd>
              <p>利用者はERPterminalの利用に際し、以下の行為を行ってはならないものとします。</p>
              <ol>
                <li>本規約に違反する行為</li>
                <li>公序良俗に反する行為</li>
                <li>ERPterminalの全部または一部を問わず、商業目的もしくはそれに準ずる行為、もしくはそのための準備行為を目的として、利用またはアクセスする行為</li>
                <li>ERPterminalに掲載されている投稿登録情報を、当社の事前の同意なく、無断で複写、転載もしくはその他の方法により再生、複製、送付、譲渡、頒布、配布、転売またはこれらの目的で使用するために保管・利用する行為（法令上または本規約上特に認められている場合を除く）</li>
                <li>違法行為・犯罪的行為・重大な危険行為に結びつく行為またはこれらを助長する行為</li>
                <li>当社、他の利用者、第三者の権利または利益を違法に侵害する行為またはそのおそれがある行為</li>
                <li>他の利用者を含む他者を差別もしくは誹謗中傷し、または他者の名誉もしくは信用を毀損する行為</li>
                <li>宗教および政治活動などの目的で利用またはアクセスする行為</li>
                <li>ERPterminalの運営を妨げるおそれのある行為（ERPterminalに係るネットワークもしくはシステム等に過度な負荷をかける行為、または、当該ネットワークもしくはシステム等に不正にアクセスし、もしくは不正なアクセスを試みる行為を含む）または当社の信用を毀損する行為</li>
                <li>ERPterminalの口コミ投稿に、当社が考える趣旨とは異なる、下記のような内容を書き込む行為
                  <ul>
                    <li>商業目的もしくはそれに準ずる目的と捉えることができる内容（但し、本規約で認められている一部限られた利用方法は除く）</li>
                    <li>個人が特定できてしまう恐れのある内容</li>
                    <li>公序良俗に反する内容</li>
                    <li>「特にありません」など、口コミの価値が低いと判断される可能性のある内容</li>
                    <li>意味の無い文字列の羅列など、価値が無いと判断される可能性のある内容</li>
                    <li>サクラを目的とした内容</li>
                  </ul>
                </li>
                <li>同様の問い合わせの繰り返しを過度に行い、または義務や理由のないことを強要し、当社の業務に著しく支障を来たす行為</li>
                <li>通常ERPterminalを利用する行為を超えてサーバーに負荷をかける行為もしくはそれを助長するような行為</li>
                <li>ユーザー登録時の虚偽申告行為</li>
                <li>同一人物が複数のユーザー登録を行う行為</li>
                <li>他人になりすます行為</li>
                <li>他の利用者の情報の収集を目的とした行為</li>
                <li>面識のない異性との出会いを目的とした行為</li>
                <li>ERP関連業界関係者が、ニックネームを「法人名/個人名」の実名表記で登録しないこと</li>
                <li>IDおよびパスワードの不正使用または他の利用者または第三者に使用させる行為</li>
                <li>ERPterminalによって提供される機能を複製、修正、転載、改変、変更、リバースエンジニアリング、逆アセンブル、逆コンパイル、翻訳あるいは解析する行為</li>
                <li>暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標榜ゴロまたは特殊知能暴力集団等が利用する行為</li>
                <li>前各号の行為を直接または間接に惹起し、または容易にする行為</li>
                <li>その他、当社が不適切と判断する行為</li>
              </ol>
            </dd>
            <dt>15.準拠法</dt>
            <dd>
              <ol>
                <li>本規約は、日本法に準拠し、解釈されます。</li>
              </ol>
            </dd>
            <dt>16.裁判管轄</dt>
            <dd>
              <ol>
                <li>本規約に関して訴訟の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render 'home/footer' %>
