<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="container">
      <div class="searchIMG"><%= image_tag('カテゴリ.jpg') %></div>
        <h1>ERPterminal利用規約</h1>
        <div class="terms">
          <p>
            この規約（以下「本規約」といいます）は、ERPterminal運営事務局（以下「当社」といいます）が提供するERPterminalに関する全てのサービス（以下「本サービス」といいます）の利用に関する条件を、本サービスを利用するお客様（以下「利用者」といいます）と当社との間で定めるものです。
          </p>
          <dl>
            <dt>1.本規約について</dt>
            <dd>
              <ol>
                <li>ERPterminalは、（１）ERPに関する口コミ・Q＆A・画像（動画を含む。以下同じ）・点数・その他関連情報、（２）地域に関する口コミ・Q＆A・画像・点数・その他関連情報、（３）利用者の登録情報・履歴情報（以下（１）～（３）を総称して「投稿登録情報」といいます）をコンテンツとするサイトであり、ERPterminal利用者が投稿登録情報をERPを選定または構築する際の参考としてご活用いただくことを主な目的としています。尚、ERPterminalは情報提供の対象として、ERP製品だけでなく、ERP構築ベンダーも含むものとします。</li>
                <li>本利用規約は、マンションノートおよびその関連サービスの利用条件を定めるものです。</li>
                <li>本利用規約に同意いただけない場合は、マンションノートを使用することはできません。マンションノートを利用した者は、利用した時点で、本利用規約に同意したものとみなされます。</li>
                <li>本利用規約の内容は、利用者の事前の承諾を得ることなく、当社がいつでも自由に変更することができるものとします。</li>
                <li>変更後の本利用規約はマンションノート上に表示した時点、または当社が適切と認める方法で告知した時点より効力が発生するものとし、本利用規約の変更後に利用者がマンションノートを利用した場合には、変更後の本利用規約に同意したものとみなされます。</li>
                <li>本利用規約の全部または一部が特定の利用者との間で無効と判断された場合でも、本利用規約はその他の利用者との間では有効であり続けるものとします。</li>
                <li>マンションノート内の個別サービスに関連して、本利用規約以外の利用規約、注意事項その他当社が別途規定する個別の規定（以下総称して「個別規定」といいます）がある場合、その名目の如何にかかわらず、個別規約も本利用規約の一部を構成するものとします。本利用規約において「本利用規約」と記載している場合、特別の規定がなければ、個別規定も含むものとします。本利用規約の規定の内容と個別規定の内容が抵触する場合は、個別規定の内容が優先して適用されるものとします。</li>
              </ol>
            </dd>
            <dt>2.ERPterminalの利用に関する自己責任の原則について</dt>
            <dd>
              <ol>
                <li>マンションノートにおいて算出されている各マンションの点数は、あくまでも当社独自の基準に基づく評価にすぎないため、利用者は、利用者自身の自己責任においてマンションノートを利用するものとし、マンションノートを利用してなされた一切の行為およびその結果についてその責任を負うものとします。</li>
                <li>利用者は、マンションノートの利用に際し、他の利用者その他の第三者または当社に損害または不利益を与えた場合、自己の責任と費用においてこれを解決するものとします。</li>
              </ol>
            </dd>
            <dt>3.ユーザー登録およびメールアドレス・パスワード等の管理について</dt>
            <dd>
              <ol>
                <li>マンションノートは、ユーザー登録無しでも一部利用できますが、利用者は当社所定の手続きに従いマンションノートにユーザー登録することができます。本利用規約において「登録済みユーザー」とは、マンションノートを利用する全ての「利用者」のうち、かかる手続きに従いユーザー登録を行った者を意味します。</li>
                <li>登録済みユーザーは、ERPterminalへの投稿登録情報の投稿のほか、当社が別途定めるサービスを利用することができます。</li>
                <li>登録済みユーザーは、投稿登録情報を投稿する際、当社が定めたERPterminalの目的と社会的意義を理解し、真実・正確且つERPの選定または構築を検討している者にとって有益な情報を投稿することを約束するものとします。</li>
                <li>当社は、当社の判断により、下記に該当するユーザー登録申込者のユーザー登録を、その理由を申込者に伝えることなく拒否することができるものとします。また、ユーザー登録後であったとしても、下記の場合には当社の判断によりその理由を登録済みユーザーに伝えることなくユーザー登録を解除することができるものとします。
                  <ol>
                    <li>本利用規約に違反している場合</li>
                    <li>過去に本利用規約に違反していた場合</li>
                    <li>虚偽の情報によりユーザー登録をした場合</li>
                    <li>その他当社が不適当と判断した場合</li>
                  </ol>
                </li>
                <li>登録済みユーザーは、ERPterminalに関して、登録に基づきサービスを利用することができる権利を第三者に譲渡したり、名義変更、売買等の行為をしてはならないものとします。</li>
                <li>登録済みユーザーが死亡した場合、当該登録済みユーザーの死亡時をもってユーザー登録は解除されたものとみなされます。ただし、登録済みユーザーが死亡時点において当社に対して何らかの債務を負っている場合には、ユーザー登録の解除にかかわらず、当該債務の相続等については、民法等の法令に従って処理されるものとします。なお、死亡した登録済みユーザーが過去に投稿した投稿登録情報その他情報の扱いは当社が自由に扱えるものとします。</li>
                <li>登録済みユーザーは、ERPterminalに関連して入力したメールアドレスおよびパスワードの登録・管理等を自己の責任において行うものとします。</li>
                <li>ユーザー登録情報が不正確または虚偽であった場合や利用者の管理不十分、使用上の過誤、第三者の使用等により生じた不利益および損害について、当社は一切の責任を負わないものとします。</li>
              </ol>
            </dd>
            <dt>4.投稿登録情報に関する義務・権利について</dt>
            <dd>
              <ol>
                <li>利用者が投稿登録情報を投稿する場合には、本利用規約を遵守しなければならないものとします。</li>
                <li>利用者がマンションノートに投稿登録情報の投稿を行った時点で、当該投稿登録情報の国内外における複製、公開、公衆送信、頒布、譲渡、貸与、翻訳・翻案等の著作権法上の権利（著作権法第27条及び第28条に規定する権利を含みます。以下「本権利」といいます）について、当社および当社の指定する者に対し、期限の定めなく無償でその利用を許諾したものとみなします。また、利用者は、当社および当社の指定する者に対して、当該投稿登録情報に関わる著作者人格権を行使しないものとします。</li>
                <li>当社は、本権利について、当社の判断により、有償または無償でその利用を第三者に再許諾することができます。この場合、利用者は、当該第三者に対して、投稿登録情報に関わる著作者人格権を行使しないものとします。</li>
                <li>利用者は、当社に対し、マンションノートに投稿した時点において、投稿登録情報に関する本権利を全て有していることおよび当該投稿登録情報が他者の肖像権等いかなる権利も侵害していないことを保証するものとします。</li>
                <li>利用者が第三者の著作物等を利用して投稿を行う場合には、利用者は、利用者の責任と負担において、必要な権利処理を行うものとし、当社に対して、当該権利処理が完了していることを保証するものとします。</li>
                <li>利用者が投稿した投稿登録情報によって第三者に対する権利侵害が生じた場合等、利用者によるマンションノートの利用に関して、利用者と第三者との間で紛争等が生じた場合には、利用者の責任と費用においてこれを解決するものとします。</li>
                <li>前号の紛争に関連して、当社に費用が発生した場合または当社が賠償金等の支払いを行った場合は、利用者は、当社に対して、当該費用（弁護士等の専門家の費用を含む）および賠償金を補償するものとし、当社は、当該利用者にこれらの合計額の支払いを請求できるものとします。</li>
                <li>当社または第三者が利用者の投稿登録情報を利用したことによって利用者または第三者が損害を受けたとしても、当社では一切の補償をいたしません。</li>
                <li>当社は、投稿された投稿登録情報の全部又は一部を当社の判断で削除できるものとします（投稿登録情報の一部を削除した場合、当該一部以外の部分はそのまま掲載されます）。また投稿登録情報の一部を抜粋し利用することができるものとします。</li>
                <li>マンションノートや提携サイトへのコンテンツ提供などにおいて、利用者の投稿登録情報を当社もしくは当社から使用許諾を受けた第三者が利用する場合があります。この際、当社は投稿登録情報の一部を要約したり、抜粋したり、投稿された画像のサイズを変更したり、切り抜いたりなど、一部改変等する場合がございます。また、投稿登録情報を利用する場合には、利用者が投稿した際のニックネームやアイコン、性別、年代、投稿日時等を表示させていただく場合がございます。</li>
                <li>マンションノートに掲載されている投稿登録情報はWEBサイト上での利用者による投稿だけでなく、ヒアリング等異なる方法で収集されることもあります。</li>
                <li>利用者は、利用者が投稿した投稿登録情報に対して、当社に保存責任・義務がないことを理解し、必要に応じて利用者は自身でバックアップを取るものとします。投稿登録情報の消去、喪失等に関連して利用者に生じた損害につき、当社は一切の責任を負いません。</li>
                <li>投稿登録情報は、投稿した利用者本人からの依頼であっても、当社が必要と認める場合を除き、削除いたしません。</li>
                <li>利用者は、利用者が投稿登録情報を投稿する際の利用者の一連のアクション（投稿の際のキータイピング及びその他入力動作）に関する各種情報を、当社がマンションノートの品質向上を目的として取得・保存・分析・審査への活用等をすることを認めるものとします。</li>
              </ol>
            </dd>
            <dt>5.当社の算出した点数について</dt>
            <dd>
              <ol>
                <li>当社は、利用者が投稿したマンションの各項目に対する点数と、当社内独自の計算方法によって算出した点数を掛け合わせることで当該マンションに対する点数を算出していますが、これらの点数は、あくまでも当社独自の基準に基づく評価にすぎず、公的機関による評価等ないし法令等に基づく評価等を表示するものではありません。また、その算出方法およびデータ等に関しては、（お問い合わせの内容・理由に関わらず）非開示としております。</li>
              </ol>
            </dd>
            <dt>6.ポイントについて</dt>
            <dd>
              <ol>
                <li>利用者が投稿登録情報の投稿によって獲得したポイントは、マンションノート内で、かつ、当社が指定したルールに則ってのみ、利用できるものとします。利用者は、当該ポイントを換金、売買等しないこととします。</li>
                <li>利用者が獲得したポイントは、当社の判断によって、その利用および運用ルール等をいつでも自由に、利用者の許諾を必要とせずに変更できるものとします。</li>
              </ol>
            </dd>
            <dt>7.利用者に対する利用停止措置について</dt>
            <dd>
              <ol>
                <li>利用者が本利用規約に反する行為もしくは反するおそれがある行為またはマンションノートの趣旨・目的に照らして不適切であると当社が判断する行為がなされた場合、当社は、当該利用者に対して、マンションノートの利用の停止、ユーザー登録の解除、その他当社が適切と判断する措置（以下「利用停止措置等」といいます）をとることができるものとします｡ただし、当社がユーザー登録の解除という措置をとった場合、その効果については、次項2～4号を準用するものとします。</li>
                <li>利用停止措置等は、利用者の帰責性の有無にかかわらず当社の裁量・判断に基づき行うことができるものとし、利用停止措置等を行った理由については､その如何を問わず利用者に対して一切お答えいたしかねます｡</li>
                <li>利用停止措置等に起因して利用者に生じた損害については､当社は一切の責任を負わないものとします｡</li>
              </ol>
            </dd>
            <dt>8.利用者のユーザー登録解除の手続きについて</dt>
            <dd>
              <ol>
                <li>登録済みユーザーがユーザー登録の解除を希望する場合は、当社所定の登録解除の手続きを行うものとします。</li>
                <li>登録済みユーザーは、ユーザー登録解除の手続きを行った場合、当該登録済みユーザーのアカウントに関する一切の権利、特典、ポイント等を失うものとします。</li>
                <li>登録済みユーザーは、ユーザー登録解除の手続きをしたとしても、当該登録済みユーザーの投稿した投稿登録情報が当社の判断により削除されないことおよび当該登録済みユーザーのユーザー登録解除後も当社が利用することを予め承諾するものとします。掲載されている投稿登録情報の削除、修正等の判断は、当社が行うものとします。</li>
                <li>登録済みユーザーがユーザー登録解除の手続きを完了した場合でも、各種権利に関する項目をはじめ、当社と利用者との間での本利用規約の効力は存続するものとします。また、利用者が当社に対して負う補償責任等も存続するものとし、ユーザー登録解除の手続きが完了した時点で当然に期限の利益を失い、直ちに当社に対して全ての債務につき履行しなければならないものとします。</li>
              </ol>
            </dd>
            <dt>9.マンションノートの変更・停止について</dt>
            <dd>
              <ol>
                <li>当社は、当社の都合によりマンションノートにより提供するサービスを変更・停止等することがございます。また、災害・事故、その他緊急事態が発生した際には、マンションノートを停止する場合がありますので、予めご了承ください。なお、事前に利用者の承諾を得ることなくマンションノートを変更・停止等したことにより、利用者または第三者が損害を受けたとしても、当社は一切の補償はいたしません。</li>
              </ol>
            </dd>
            <dt>10.マンションノートの利用に必要となる設備について</dt>
            <dd>
              <ol>
                <li>利用者は、マンションノートを利用するために必要となる通信機器、ソフトウェアその他これらに付随して必要となる全ての機器を、自己の費用と責任において準備し、利用可能な状態にするものとします。当社は、利用者がwebにアクセスするための準備、方法などについては一切関与いたしません。</li>
              </ol>
            </dd>
            <dt>11.個人情報の取扱い</dt>
            <dd>
              <ol>
                <li>当社は、当社が別途定めるプライバシーポリシーに則り、個人情報を適正に取り扱うこととし、利用者は、マンションノートのサービスの利用によってかかる個人情報の取扱いにつき同意したものとします。</li>
                <li>当社は、前項の定めにかかわらず、マンションノートのサービスを利用者に提供するのに必要な範囲において、利用者の個人情報を日本又は外国の第三者（物件情報を提供する提携メディア、店舗情報を掲載している不動産会社等）に対して提供することがあり、利用者は、当該サービスの利用によってかかる個人情報の取扱いにつき同意したものとします。</li>
                <li>当社は、第1項の定めにかかわらず、個別のお客様に対する広告の配信・表示を最適化するのに必要な範囲において、利用者の個人情報を日本又は外国の第三者（当該最適化を実施する事業者等）に対して提供することがあり、利用者は、当該サービスの利用によってかかる個人情報の取扱いにつき同意したものとします。なお、当該個人情報は匿名化した上で提供するものとし、当該第三者において特定の個人を識別できないようにします。</li>
                <li>利用者は、本サービスの利用によって、情報提供先から、物件の案内その他の案内、 連絡、通知等が利用者に対して行なわれることがあることに同意したものとします。</li>
                <li>利用者は、本サービスの利用によって、当社が利用者に対して送付するメールその他の通知に、当社及び第三者の広告、案内等を掲載することにつき同意したものとします。</li>
                <li>当社は、利用者と情報提供先との連絡、交渉、契約その他一切の関係につき一切の責任を負わないものとし、利用者は、本サービスの利用により、これに同意したものとします。</li>
                <li>当社は、本サービスを円滑に運用するために、利用者の個人情報を本サービス利用の控えとして一定期間保管いたします。利用者は、問い合わせや資料請求等においてフォーム等への記入内容が不明瞭で不動産会社から連絡・資料送付等ができない場合、その他当社が本サービスを円滑に運用するために必要な範囲において、直接当社から利用者へ連絡をする場合があることに同意したものとします。</li>
                <li>当社は、以下の場合に個人情報の取扱いについて発生する責任を負わないものとします。
                  <ol>
                    <li>利用者が、当社所定の個人情報入力フォーム以外の入力フォームに個人情報を入力した場合</li>
                    <li>利用者が、本サービスの範囲外で特定の企業に個人情報を開示した場合</li>
                    <li>本人特定情報以外の投稿登録情報の内容により、期せずして本人が特定できてしまった場合</li>
                  </ol>
                </li>
              </ol>
            </dd>
            <dt>12.免責事項</dt>
            <dd>
              <ol>
                <li></li>
              </ol>
            </dd>
            <dt>13.問い合わせ</dt>
            <dd>
              <ol>
                <li></li>
              </ol>
            </dd>
            <dt>14.禁止行為</dt>
            <dd>
              <ol>
                <li></li>
              </ol>
            </dd>
            <dt>15.準拠法</dt>
            <dd>
              <ol>
                <li></li>
              </ol>
            </dd>
            <dt>16.裁判管轄</dt>
            <dd>
              <ol>
                <li></li>
                <li></li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render 'home/footer' %>
