<%= render 'home/form' %>
<div class="top-image">
  <div class="top-background">
    <div class="message">
      <h2>ERP導入までの道のりに、<br>みんなの口コミを。</h2>
      <div class="search-box">
        <input value="システム名で検索する">
        <div><%= image_tag('search.jpg') %></div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="search-category">
    <div><%= image_tag('category.jpg') %></div>
    <h2>カテゴリから探す</h2>
    <div class="category-box">
      <li>製造・原価管理</li>
      <li>販売・購買管理</li>
      <li>プロジェクト案件管理</li>
    </div>
    <div class="category-box">
      <li>不動産管理</li>
      <li>財務会計・管理会計</li>
      <li>人事給与勤怠</li>
    </div>
  </div>
</div>
<div class="main">
  <div class="search-industry">
    <div><%= image_tag('category.jpg') %></div>
    <h2>所属している業界から探す</h2>
    <div class="category-box">
      <li>メーカー</li>
      <li>商社・卸売</li>
      <li>建設・工事</li>
    </div>
    <div class="category-box">
      <li>小売・流通</li>
      <li>不動産関連</li>
      <li>運輸・物流</li>
    </div>
    <div class="category-box">
      <li>情報サービス</li>
      <li>金融</li>
      <li>その他</li>
    </div>
  </div>
</div>
