<%= render 'home/form' %>
<main>
<div class="main">
  <div class="currentPath">
    <a href="/top">HOME</a> >
    <a href="/vendors/index">INDEX</a>
  </div>
  <div class="container">
    <h1>ベンダー一覧</h1>
    <% @vendors.each do |vendor| %>
      <div>
        <%= link_to("#{vendor.name}", "/vendors/#{vendor.id}") %>
      </div>
    <% end %>
    </div>
  </div>
</main>
<%= render 'home/footer' %>
