// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article {
  margin-top: 15px;
  border: 1px solid #d6dfe5;
}

.article-header {
  border-bottom: 1px solid #e9e9e9;
  padding: 18px 10px 11px 38px;
  margin: 0 20px;
}

.article-body {
  padding: 20px;
}
